In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
# from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [3]:
df = pd.read_csv("healthcare-dataset-stroke-data_CLEAN.csv")
df.head()

,Govt_job,Never_worked,Private,Self-employed,children,hypertension,heart_disease,gender_2,ever_married_2,Residence_type_2,smoking_status_Unknown,smoking_status_formerly_smoked,smoking_status_never_smoked,smoking_status_smokes,age,bmi,avg_glucose_level,result
0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.051242,1.001041,2.706450,1.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.785889,-0.000165,2.121652,1.0
2,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.626174,0.468399,-0.004867,1.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.255182,0.715233,1.437473,1.0
4,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.581949,-0.635858,1.501297,1.0

In [4]:
df.isna().sum()

Govt_job                          0
Never_worked                      0
Private                           0
Self-employed                     0
children                          0
hypertension                      0
heart_disease                     0
gender_2                          0
ever_married_2                    0
Residence_type_2                  0
smoking_status_Unknown            0
smoking_status_formerly_smoked    0
smoking_status_never_smoked       0
smoking_status_smokes             0
age                               0
bmi                               0
avg_glucose_level                 0
result                            0
dtype: int64

# Splitting Columns (Attributes & Label)

attr = attributes; label = label/target

In [5]:
x = pd.DataFrame(df.iloc[:, :-1].values, columns=df.columns[:-1]) 
y = pd.DataFrame(df.iloc[:, -1].values, columns=[df.columns[-1]])

In [6]:
x.head()

,Govt_job,Never_worked,Private,Self-employed,children,hypertension,heart_disease,gender_2,ever_married_2,Residence_type_2,smoking_status_Unknown,smoking_status_formerly_smoked,smoking_status_never_smoked,smoking_status_smokes,age,bmi,avg_glucose_level
0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.051242,1.001041,2.706450
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.785889,-0.000165,2.121652
2,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.626174,0.468399,-0.004867
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.255182,0.715233,1.437473
4,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.581949,-0.635858,1.501297

In [7]:
y.head()

   result
0     1.0
1     1.0
2     1.0
3     1.0
4     1.0

# Train & Test

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=117)

In [9]:
print("attr_train: ", len(x_train))
print("attr_test: ", len(x_test))
print("label_train: ", len(y_train))
print("label_test: ", len(y_test))

attr_train:  4086
attr_test:  1022
label_train:  4086
label_test:  1022

# Bernoulli Naive Bayes

In [10]:
model = BernoulliNB()

model.fit(x_train, y_train)

c:\Users\ACER\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

BernoulliNB()

In [11]:
y_pred = model.predict(x_test)

# Evaluation

In [12]:
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

In [13]:
print("Accuracy score: ", accuracy*100)
print("Classification report: \n", report)

Accuracy score:  94.12915851272015
Classification report:
               precision    recall  f1-score   support

         0.0       0.95      0.99      0.97       968
         1.0       0.29      0.07      0.12        54

    accuracy                           0.94      1022
   macro avg       0.62      0.53      0.54      1022
weighted avg       0.92      0.94      0.92      1022