In [293]:
import pandas as pd
import numpy as np
import joblib

In [294]:
from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import StandardScaler
# from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import BernoulliNB
# from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [295]:
df = pd.read_csv("healthcare-dataset-stroke-data_CLEAN.csv")
df.head()

,Govt_job,Never_worked,Private,Self-employed,children,hypertension,heart_disease,gender_2,ever_married_2,Residence_type_2,smoking_status_Unknown,smoking_status_formerly_smoked,smoking_status_never_smoked,smoking_status_smokes,age,bmi,avg_glucose_level,result
0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.051242,1.001041,2.706450,1.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.785889,-0.000165,2.121652,1.0
2,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.626174,0.468399,-0.004867,1.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.255182,0.715233,1.437473,1.0
4,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.581949,-0.635858,1.501297,1.0

In [296]:
df.isna().sum()

Govt_job                          0
Never_worked                      0
Private                           0
Self-employed                     0
children                          0
hypertension                      0
heart_disease                     0
gender_2                          0
ever_married_2                    0
Residence_type_2                  0
smoking_status_Unknown            0
smoking_status_formerly_smoked    0
smoking_status_never_smoked       0
smoking_status_smokes             0
age                               0
bmi                               0
avg_glucose_level                 0
result                            0
dtype: int64

# Splitting Columns (Attributes & Label)

attr = attributes; label = label/target

In [297]:
x = pd.DataFrame(df.iloc[:, :-1].values, columns=df.columns[:-1]) 
y = pd.DataFrame(df.iloc[:, -1].values, columns=[df.columns[-1]])

In [298]:
x.head()

,Govt_job,Never_worked,Private,Self-employed,children,hypertension,heart_disease,gender_2,ever_married_2,Residence_type_2,smoking_status_Unknown,smoking_status_formerly_smoked,smoking_status_never_smoked,smoking_status_smokes,age,bmi,avg_glucose_level
0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.051242,1.001041,2.706450
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.785889,-0.000165,2.121652
2,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.626174,0.468399,-0.004867
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.255182,0.715233,1.437473
4,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.581949,-0.635858,1.501297

In [299]:
y.head()

   result
0     1.0
1     1.0
2     1.0
3     1.0
4     1.0

# Train & Test

In [300]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=117)

In [301]:
print("attr_train: ", len(x_train))
print("attr_test: ", len(x_test))
print("label_train: ", len(y_train))
print("label_test: ", len(y_test))

attr_train:  4086
attr_test:  1022
label_train:  4086
label_test:  1022

# Bernoulli Naive Bayes

In [302]:
model = BernoulliNB()

model.fit(x_train, y_train)

c:\Users\ACER\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

BernoulliNB()

# New Data

Known data:

- Female
- Works at government
- Married
- Lives at city area (urban)
- Unknown smoking status
- Age: 44
- BMI: 25
- Average glucose level: 80

In [303]:
new_data = pd.DataFrame({
    #
    'Govt_job': [1],
    'Never_worked': [0],
    'Private': [0],
    'Self-employed': [0],
    'children': [0],
    #
    'hypertension': [0],
    'heart_disease': [0],
    'gender_2': [0],
    'ever_married_2': [1],
    'Residence_type_2': [1],
    #
    'smoking_status_Unknown': [1],       
    'smoking_status_formerly_smoked': [0],
    'smoking_status_never_smoked': [0], 
    'smoking_status_smokes': [0],
    #
    'age': [44],
    'bmi': [25],
    'avg_glucose_level': [80]
})

new_data

,Govt_job,Never_worked,Private,Self-employed,children,hypertension,heart_disease,gender_2,ever_married_2,Residence_type_2,smoking_status_Unknown,smoking_status_formerly_smoked,smoking_status_never_smoked,smoking_status_smokes,age,bmi,avg_glucose_level
0,1,0,0,0,0,0,0,0,1,1,1,0,0,0,44,25,80

In [304]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Govt_job                        1 non-null      int64
 1   Never_worked                    1 non-null      int64
 2   Private                         1 non-null      int64
 3   Self-employed                   1 non-null      int64
 4   children                        1 non-null      int64
 5   hypertension                    1 non-null      int64
 6   heart_disease                   1 non-null      int64
 7   gender_2                        1 non-null      int64
 8   ever_married_2                  1 non-null      int64
 9   Residence_type_2                1 non-null      int64
 10  smoking_status_Unknown          1 non-null      int64
 11  smoking_status_formerly_smoked  1 non-null      int64
 12  smoking_status_never_smoked     1 non-null      int64
 13  smoking_status_smokes           1 non-null      int64
 14  age                             1 non-null      int64
 15  bmi                             1 non-null      int64
 16  avg_glucose_level               1 non-null      int64
dtypes: int64(17)
memory usage: 268.0 bytes

In [305]:
new_data_numeric = new_data.iloc[:,[14,15,16]]
new_data_numeric

   age  bmi  avg_glucose_level
0   44   25                 80

In [306]:
new_data_2 = new_data.drop(["age", "bmi", "avg_glucose_level"], axis=1)
new_data_2

,Govt_job,Never_worked,Private,Self-employed,children,hypertension,heart_disease,gender_2,ever_married_2,Residence_type_2,smoking_status_Unknown,smoking_status_formerly_smoked,smoking_status_never_smoked,smoking_status_smokes
0,1,0,0,0,0,0,0,0,1,1,1,0,0,0

In [307]:
scaler = joblib.load('scaler_model.joblib')

In [308]:
new_data_numeric = scaler.transform(new_data_numeric)
new_data_numeric

array([[ 0.03405428, -0.50594571, -0.57729835]])

In [309]:
nums = pd.DataFrame(new_data_numeric, columns=["age", "bmi", "avg_glucose_level"])

In [310]:
new_data_3 = pd.concat([new_data_2, nums], axis=1)
# new_data = new_data.iloc[:, :17]
new_data_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Govt_job                        1 non-null      int64
 1   Never_worked                    1 non-null      int64
 2   Private                         1 non-null      int64
 3   Self-employed                   1 non-null      int64
 4   children                        1 non-null      int64
 5   hypertension                    1 non-null      int64
 6   heart_disease                   1 non-null      int64
 7   gender_2                        1 non-null      int64
 8   ever_married_2                  1 non-null      int64
 9   Residence_type_2                1 non-null      int64
 10  smoking_status_Unknown          1 non-null      int64
 11  smoking_status_formerly_smoked  1 non-null      int64
 12  smoking_status_never_smoked     1 non-null      int64
 13  smoking_status_smokes           1 non-null      int64
 14  age                             1 non-null      float64
 15  bmi                             1 non-null      float64
 16  avg_glucose_level               1 non-null      float64
dtypes: float64(3), int64(14)
memory usage: 268.0 bytes

# Predict

In [311]:
output = model.predict(new_data)
if output == 0:
    print("Result: NEGATIVE")
else:
    print("Result: POSITIVE")

Result: NEGATIVE

In [312]:
output

array([0.])